DEFAULTOPTIONS="--mode 0 --rotation 90 --timept 16 --noaudio"
DAYOPTIONS="--fps 20 --iso 600 --evcomp -1"
NIGHTOPTIONS="--iso 800 --ex verylong --fps 0.5 --shutter 100000 --evcomp 2"
FFMPEGTIMEOUT=40
DAYTONIGHT=60000; # Threshold to transition from day to night
NIGHTTODAY=100000; # Threshold to transition from night to day
BITRATE=768000
DAYNIGHTAUTO=1; # Automatically switch between day/night mode.  Disable if this causes problems.
